.card {
  background: var(--creme);
  border: 2px solid var(--preto);
  border-radius: 64px 64px 0 0;
  padding: 80px;
  display: flex;
  flex: 1;
  margin-top: -32px;
  justify-content: center;
}
